Package: avrdude-doc
Source: avrdude
Version: 6.1-2
Architecture: all
Maintainer: Michael Biebl <biebl@debian.org>
Installed-Size: 814
Suggests: doc-base
Section: doc
Priority: extra
Homepage: http://savannah.nongnu.org/projects/avrdude/
Description: documentation for avrdude
 AVRDUDE is an open source utility to download/upload/manipulate the
 ROM and EEPROM contents of AVR microcontrollers using the in-system
 programming technique (ISP).
 .
 This package contains documentation for configuring and running
 AVRDUDE.
